<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceWarServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>network.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>servercore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1E93FC11689ACD000D279CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E93FD31689ACEA00D279CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E93FEC1689AEBA00D279CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E93FF41689AEC300D279CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E93FFC1689AED100D279CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
